<div class="header">
  <div class="container">
    <%= link_to 'Admin', admin_root_path, class: 'header-title' %>
    <%= link_to 'Posts', admin_posts_path %>
    <div class="right">
      <%= link_to 'Logout', '#' %>
    </div>
  </div>
</div>
